:root {
	--main-black: #121212;
	--main-white: #f0f0f0;
	--hover-white: #ddd;

	--color-1: #74B7FF;
	--color-2: #8AFF8D;
	--color-3: #FF006B;
	--color-4: #74B7FF;
	--color-5: #653FFF;
	--color-6: #FFB955;
}

@keyframes colorCycle {
	0% {
		color: var(--color-1);
	}

	16.6% {
		color: var(--color-2);
	}

	33.3% {
		color: var(--color-3);
	}

	50% {
		color: var(--color-4);
	}

	66.6% {
		color: var(--color-5);
	}

	83.3% {
		color: var(--color-6);
	}

	100% {
		color: var(--color-1);
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--main-black);
	color: var(--main-white);
	font-family: 'Montserrat', sans-serif;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 700;
}

.hero {
	width: 100%;
	padding: 0 16px;
	box-sizing: border-box;
	margin: 0 auto 40px auto;
	text-align: center;
}

.hero h1 {
	font-size: clamp(2.5rem, 10vw, 6rem);
	/* от 2.5rem до 6rem */
	line-height: 1.1;
	margin: 40px 0;
	word-break: break-word;
}

.hero img {
	width: 100%;
}

main {
	max-width: 610px;
	width: 100%;
	min-height: 65vh;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 40px;
	margin: auto;
}

form {
	display: flex;
	flex-direction: column;
	gap: 35px;
	font-weight: bold;
	height: 24%;
}

input {
	box-sizing: border-box;
	width: 100%;
	height: 100px;
}

input::placeholder {
	color: var(--main-black);
	font-weight: bold;
	font-size: 30px;
}

input[type="password"]::placeholder {
	color: var(--main-black);
	text-align: center;
}

input[type="password"],
input[type="email"] {
	padding: 12px;
	border: none;
	border-radius: 0;
	font-size: 30px;
}

input[type="email"] {
	padding-bottom: 24px;
}

button {
	padding: 12px;
	width: 30%;
	height: 100px;
	background-color: var(--main-white);
	color: var(--main-black);
	border: none;
	border-radius: 0;
	font-weight: bold;
	font-size: 30px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

button.login {
	margin: 0 auto;
}

button.subscribe {
	margin-left: auto;
	animation: colorCycle 12s steps(1, end) infinite;
}

button:hover {
	background-color: var(--hover-white);
}

#email-submit {
	min-width: 205px;
}

.label {
	display: none;
}

.input-wrapper {
	position: relative;
	width: 100%;
}

.input-wrapper input {
	width: 100%;
}

.fake-placeholder {
	position: absolute;
	top: 12px;
	left: 12px;
	color: var(--main-black);
	font-size: 28px;
	line-height: 1.2;
	pointer-events: none;
	white-space: normal;
	max-width: calc(100% - 24px);
	animation: colorCycle 12s steps(1, end) infinite;
	;
}

.input-wrapper input:focus+.fake-placeholder,
.input-wrapper input:not(:placeholder-shown)+.fake-placeholder {
	opacity: 0;
	transition: opacity 0.2s ease;
}

@media (max-width: 600px) {

	button,
	input[type="password"],
	input[type="email"] {
		height: 80px;
		font-size: 1em;
	}

	.fake-placeholder,
	input::placeholder {
		font-size: 1em;
	}
}
